.DS_Store
usage_data
*.jpg
entire_screenshot/
entire_screenshot_metadata/
__pycache__
active_screenshot/
active_screenshot_metadata/
output_videos/
screenshot_data
myenv
.gitignore
recommend/client_secret.json
recommend/google_client.json